{% extends 'base.html' %}


{% block title %}Users{% endblock title %}

{% block content %}
<h1>User Directory</h1>
<ul>
    {% for user in user_list %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">User # {{ user['id'] }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ user['first_name'] }}, {{ user['last_name'] }}</h6>
          <p class="card-text">{{ user['hobbies'] }}</p>
          <a href="{{ url_for('user_edit')}}" class="container">Edit</a>
          <a href="#" class="card-link">Delete</a>
        </div>
    </div>   
    <br />
    {% endfor %}
</ul>
{% endblock content %}